<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="col-6 mx-auto rounded-3 p-4 mt-5 border border-dark border-3" style="height: 40vh; background-color: maroon;">
        <h1 class="text-center text-light mt-3">Welcome User 👋</h1>
        <input type="email" class="form-control mt-5" placeholder="Email">
        <input type="password" class="form-control mt-4" placeholder="Password">
        <div class="d-flex justify-content-end">
            <button class="btn btn-warning mt-4 px-3 fw-bold">Login</button>
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>